<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Puppy Adoption Site</title>
</head>
<body>
  <h1>Enter a puppy that's ready to be adopted</h1>
  <form action="/NEW" method="post">
    <p>Name:
      <input type="text" name="name">
    </p>
    <p>Breed:
      <input type="text" name="breed">
    </p>
    <p>Age:
      <input type="text" name="age">
    </p>
    <input type="submit" name="submit" value="Submit">
  </form>
</body>
</html>
